HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# db 폴더 무시
/src/main/java/com/sparklenote/common/db/

# docker-compose.yml 파일 무시
/docker-compose.yml
/dockerfile

# misc.xml 파일 무시
.idea/misc.xml

# modules.xml 파일 무시
.idea/modules.xml

/logs/
